# SPDX-FileCopyrightText: 2021 Comcast Cable Communications Management, LLC
# SPDX-License-Identifier: MIT

name: Meson C Unit Test

on:
  pull_request:
    branches:
      - '**'
  push:
    branches:
      - main
    tags-ignore:
      - 'v[0-9]**'
  schedule:
    - cron: '12 9 * * 3'


# Keep this file as close as is reasonable to xmidt-org/.github/workflows/meson-unit-test.yml
# as possible.  We can't re-use that workflow because we need the docker image to
# be run in the same workflow to get the results.
jobs:
  test-macos:
    name: Unit Tests (MacOS)
    runs-on: [ macos-latest ]
    steps:
      - uses: actions/checkout@v2

      - name: Install packages
        run: |
          brew install cunit ninja openssl@1.1

      - name: Install Meson
        run: |
          pip3 install 'meson>=0.60.3'

      - name: Meson Setup
        run: |
          meson setup --warnlevel 3 --werror -Dsha1-provider=internal -Dtest-autobahn=skip build

      - name: Build
        working-directory: build
        run: |
          ninja all

      - name: Run Tests
        working-directory: build
        run: |
          ninja test

  test-linux-clang:
    name: Unit Tests (Linux clang)
    runs-on: [ ubuntu-latest ]
    steps:
      - uses: actions/checkout@v2

      - name: Update packages
        run: |
          sudo apt update

      - name: Install packages
        run: |
          sudo apt-get -y install python3 python3-pip python3-setuptools python3-wheel \
                                  ninja-build valgrind gcovr \
                                  libcunit1 libcunit1-doc libcunit1-dev \
                                  jq libcurl4-openssl-dev

      - name: Install Meson
        run: |
          pip3 install --user 'meson>=0.60.3'

      - name: Meson Setup
        run: |
          CC=clang meson setup --warnlevel 3 --werror build

      - name: Build
        working-directory: build
        run: |
          ninja all

      - name: Run Tests
        working-directory: build
        run: |
          ninja test

  test-linux-gcc:
    name: Unit Tests
    runs-on: [ ubuntu-latest ]
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Start Autobahn Docker
        run: |
          docker run --rm -v "$GITHUB_WORKSPACE/tools:/config" -v "$GITHUB_WORKSPACE/reports:/reports" -p 9001:9001 --name fuzzingserver crossbario/autobahn-testsuite &

      - name: Update packages
        run: |
          sudo apt update

      - name: Install packages
        run: |
          sudo apt-get -y install python3 python3-pip python3-setuptools python3-wheel \
                                  ninja-build valgrind gcovr \
                                  libcunit1 libcunit1-doc libcunit1-dev \
                                  jq libcurl4-openssl-dev

      - name: Install Meson
        run: |
          pip3 install --user 'meson>=0.60.3'

      - name: Meson Setup
        run: |
          meson setup --warnlevel 3 --werror build

      - name: Update packages
        run: |
          sudo apt update

      - name: Get Sonarcloud Binaries
        uses: xmidt-org/sonarcloud-installer-action@v1
        with:
          working-directory: build

      - name: Update .sonar-project.properties
        run: |
          # Warn if we find something that shouldn't be in the sonar file.
          if [[ -n `grep ".*sonar.cfamily.build-wrapper-output.*" .sonar-project.properties` ]]; then
              echo -e "\e[0;31mWarning: remove this from the .sonar-project.properties file: sonar.cfamily.build-wrapper-output\e[m"
          fi
          if [[ -n `grep ".*sonar.cfamily.threads.*" .sonar-project.properties` ]]; then
              echo -e "\e[0;31mWarning: remove this from the .sonar-project.properties file: sonar.cfamily.threads\e[m"
          fi
          if [[ -n `grep ".*sonar.cfamily.cache.enabled.*" .sonar-project.properties` ]]; then
              echo -e "\e[0;31mWarning: remove this from the .sonar-project.properties file: sonar.cfamily.cache.enabled\e[m"
          fi
          if [[ -n `grep ".*sonar.coverageReportPaths.*" .sonar-project.properties` ]]; then
              echo -e "\e[0;31mWarning: remove this from the .sonar-project.properties file: sonar.coverageReportPaths\e[m"
          fi

          # Remove the lines we want to replace
          sed -i 's/.*sonar.cfamily.build-wrapper-output.*//g' .sonar-project.properties
          sed -i 's/.*sonar.cfamily.threads.*//g'              .sonar-project.properties
          sed -i 's/.*sonar.cfamily.cache.enabled.*//g'        .sonar-project.properties
          sed -i 's/.*sonar.coverageReportPaths.*//g'          .sonar-project.properties

          # Add the version we need.
          echo "sonar.cfamily.build-wrapper-output=build/bw-output"       >> .sonar-project.properties
          echo "sonar.cfamily.threads=2"                                  >> .sonar-project.properties
          echo "sonar.cfamily.cache.enabled=false"                        >> .sonar-project.properties
          echo "sonar.coverageReportPaths=build/meson-logs/sonarqube.xml" >> .sonar-project.properties

      - name: Build
        working-directory: build
        run: |
          build-wrapper-linux-x86/build-wrapper-linux-x86-64 --out-dir bw-output ninja all

      - name: Test
        working-directory: build
        run: |
          ninja test

      - name: Check Autobahn Tests
        working-directory: build
        run: |
          ninja autobahn_collect autobahn_validate

      - name: Coverage Report Generation
        working-directory: build
        run: |
          ninja coverage

      - name: Upload SonarCloud
        run: |
          build/sonar-scanner/bin/sonar-scanner -Dsonar.host.url=https://sonarcloud.io \
                                                -Dproject.settings=.sonar-project.properties \
                                                -Dsonar.login=${{ secrets.SONAR_TOKEN }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload Codecov.io
        uses: codecov/codecov-action@v2
        with:
          directory: .
          files: build/meson-logs/coverage.xml
          fail_ci_if_error: true
